<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
<ion-searchbar disabled="true"></ion-searchbar>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://img.wook.pt/images/heartstopper-volume-1-alice-oseman/MXwyMzc5MjcxOHwxOTgwNTM1MnwxNjAzNDA3NjAwMDAw/500x">
    </ion-thumbnail>
    <ion-label>heartstopper</ion-label>
    <ion-badge color="success">30,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://img1.od-cdn.com/ImageType-400/5054-1/AB4/667/D3/%7BAB4667D3-B052-4EC1-9554-E50967A740B1%7DImg400.jpg">
    </ion-thumbnail>
    <ion-label>Amor e Gelato</ion-label>
    <ion-badge color="success">15,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://1.bp.blogspot.com/-b6xw7J-Gzyg/WvodmzZ6bGI/AAAAAAAAdCQ/-GlUEljjKjE_M70vvne-v9rNA1gl-bEgQCLcBGAs/s1600/livro-capa-o-beijo-tracoeiro-erin-beaty-romances-de-epoca-para-ler-em-um-dia-mademoisellelovesbooks.jpg">
    </ion-thumbnail>
    <ion-label>O Beijo Traiçoeiro</ion-label>
    <ion-badge color="success">25,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://cdn1.mundodastribos.com/366829-O-Exorcista.jpg">
    </ion-thumbnail>
    <ion-label>O Exorcista</ion-label>
    <ion-badge color="success">59,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/originals/bd/cd/0d/bdcd0df01335e8505a72673d7d8ba69a.jpg">
    </ion-thumbnail>
    <ion-label>Lebre e Coelho</ion-label>
    <ion-badge color="success">11,90</ion-badge>
  </ion-item>

  
</ion-content>
